\apijson\node_modules
\apijsonserver\node_modules
\bts\node_modules
\filmesapi\node_modules
\pokeapi\node_modules
\primeiro-projeto\node_modules
\rotas-forms\node_modules
\secao3\node_modules
\todo-list-app\node_modules
\todo-list-app\.git
