.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  list-style-type: none;
}
.add-aluno{
  display: flex;
  flex-direction: column;
  border:5px solid pink;
  width: 30%;
  height: 90vh;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.btn{
  margin-left: auto;
  margin-right: auto;
}

.lista-alunos{
  width: 30%;
}

table{
  width: 100%;
}
.tabela-alunos{
  width: 30%;
}